
Project2/Image Denoising/serial_code/.DS_Store
Project2/Image Denoising/serial_code/simple-jpeg/cderror.h
Project2/Image Denoising/serial_code/simple-jpeg/cdjpeg.c
Project2/Image Denoising/serial_code/simple-jpeg/cdjpeg.h
Project2/Image Denoising/serial_code/simple-jpeg/cdjpeg.o
Project2/Image Denoising/serial_code/simple-jpeg/import_export_jpeg.c
Project2/Image Denoising/serial_code/simple-jpeg/import_export_jpeg.h
Project2/Image Denoising/serial_code/simple-jpeg/import_export_jpeg.o
Project2/Image Denoising/serial_code/simple-jpeg/jcapimin.c
Project2/Image Denoising/serial_code/simple-jpeg/jcapimin.o
Project2/Image Denoising/serial_code/simple-jpeg/jcapistd.c
Project2/Image Denoising/serial_code/simple-jpeg/jcapistd.o
Project2/Image Denoising/serial_code/simple-jpeg/jccoefct.c
Project2/Image Denoising/serial_code/simple-jpeg/jccoefct.o
Project2/Image Denoising/serial_code/simple-jpeg/jccolor.c
Project2/Image Denoising/serial_code/simple-jpeg/jccolor.o
Project2/Image Denoising/serial_code/simple-jpeg/jcdctmgr.c
Project2/Image Denoising/serial_code/simple-jpeg/jcdctmgr.o
Project2/Image Denoising/serial_code/simple-jpeg/jchuff.c
Project2/Image Denoising/serial_code/simple-jpeg/jchuff.h
Project2/Image Denoising/serial_code/simple-jpeg/jchuff.o
Project2/Image Denoising/serial_code/simple-jpeg/jcinit.c
Project2/Image Denoising/serial_code/simple-jpeg/jcinit.o
Project2/Image Denoising/serial_code/simple-jpeg/jcmainct.c
Project2/Image Denoising/serial_code/simple-jpeg/jcmainct.o
Project2/Image Denoising/serial_code/simple-jpeg/jcmarker.c
Project2/Image Denoising/serial_code/simple-jpeg/jcmarker.o
Project2/Image Denoising/serial_code/simple-jpeg/jcmaster.c
Project2/Image Denoising/serial_code/simple-jpeg/jcmaster.o
Project2/Image Denoising/serial_code/simple-jpeg/jcomapi.c
Project2/Image Denoising/serial_code/simple-jpeg/jcomapi.o
Project2/Image Denoising/serial_code/simple-jpeg/jconfig.h
Project2/Image Denoising/serial_code/simple-jpeg/jcparam.c
Project2/Image Denoising/serial_code/simple-jpeg/jcparam.o
Project2/Image Denoising/serial_code/simple-jpeg/jcphuff.c
Project2/Image Denoising/serial_code/simple-jpeg/jcphuff.o
Project2/Image Denoising/serial_code/simple-jpeg/jcprepct.c
Project2/Image Denoising/serial_code/simple-jpeg/jcprepct.o
Project2/Image Denoising/serial_code/simple-jpeg/jcsample.c
Project2/Image Denoising/serial_code/simple-jpeg/jcsample.o
Project2/Image Denoising/serial_code/simple-jpeg/jctrans.c
Project2/Image Denoising/serial_code/simple-jpeg/jctrans.o
Project2/Image Denoising/serial_code/simple-jpeg/jdapimin.c
Project2/Image Denoising/serial_code/simple-jpeg/jdapimin.o
Project2/Image Denoising/serial_code/simple-jpeg/jdapistd.c
Project2/Image Denoising/serial_code/simple-jpeg/jdapistd.o
Project2/Image Denoising/serial_code/simple-jpeg/jdatadst.c
Project2/Image Denoising/serial_code/simple-jpeg/jdatadst.o
Project2/Image Denoising/serial_code/simple-jpeg/jdatasrc.c
Project2/Image Denoising/serial_code/simple-jpeg/jdatasrc.o
Project2/Image Denoising/serial_code/simple-jpeg/jdcoefct.c
Project2/Image Denoising/serial_code/simple-jpeg/jdcoefct.o
Project2/Image Denoising/serial_code/simple-jpeg/jdcolor.c
Project2/Image Denoising/serial_code/simple-jpeg/jdcolor.o
Project2/Image Denoising/serial_code/simple-jpeg/jdct.h
Project2/Image Denoising/serial_code/simple-jpeg/jddctmgr.c
Project2/Image Denoising/serial_code/simple-jpeg/jddctmgr.o
Project2/Image Denoising/serial_code/simple-jpeg/jdhuff.c
Project2/Image Denoising/serial_code/simple-jpeg/jdhuff.h
Project2/Image Denoising/serial_code/simple-jpeg/jdhuff.o
Project2/Image Denoising/serial_code/simple-jpeg/jdinput.c
Project2/Image Denoising/serial_code/simple-jpeg/jdinput.o
Project2/Image Denoising/serial_code/simple-jpeg/jdmainct.c
Project2/Image Denoising/serial_code/simple-jpeg/jdmainct.o
Project2/Image Denoising/serial_code/simple-jpeg/jdmarker.c
Project2/Image Denoising/serial_code/simple-jpeg/jdmarker.o
Project2/Image Denoising/serial_code/simple-jpeg/jdmaster.c
Project2/Image Denoising/serial_code/simple-jpeg/jdmaster.o
Project2/Image Denoising/serial_code/simple-jpeg/jdmerge.c
Project2/Image Denoising/serial_code/simple-jpeg/jdmerge.o
Project2/Image Denoising/serial_code/simple-jpeg/jdphuff.c
Project2/Image Denoising/serial_code/simple-jpeg/jdphuff.o
Project2/Image Denoising/serial_code/simple-jpeg/jdpostct.c
Project2/Image Denoising/serial_code/simple-jpeg/jdpostct.o
Project2/Image Denoising/serial_code/simple-jpeg/jdsample.c
Project2/Image Denoising/serial_code/simple-jpeg/jdsample.o
Project2/Image Denoising/serial_code/simple-jpeg/jdtrans.c
Project2/Image Denoising/serial_code/simple-jpeg/jdtrans.o
Project2/Image Denoising/serial_code/simple-jpeg/jerror.c
Project2/Image Denoising/serial_code/simple-jpeg/jerror.h
Project2/Image Denoising/serial_code/simple-jpeg/jerror.o
Project2/Image Denoising/serial_code/simple-jpeg/jfdctflt.c
Project2/Image Denoising/serial_code/simple-jpeg/jfdctflt.o
Project2/Image Denoising/serial_code/simple-jpeg/jfdctfst.c
Project2/Image Denoising/serial_code/simple-jpeg/jfdctfst.o
Project2/Image Denoising/serial_code/simple-jpeg/jfdctint.c
Project2/Image Denoising/serial_code/simple-jpeg/jfdctint.o
Project2/Image Denoising/serial_code/simple-jpeg/jidctflt.c
Project2/Image Denoising/serial_code/simple-jpeg/jidctflt.o
Project2/Image Denoising/serial_code/simple-jpeg/jidctfst.c
Project2/Image Denoising/serial_code/simple-jpeg/jidctfst.o
Project2/Image Denoising/serial_code/simple-jpeg/jidctint.c
Project2/Image Denoising/serial_code/simple-jpeg/jidctint.o
Project2/Image Denoising/serial_code/simple-jpeg/jidctred.c
Project2/Image Denoising/serial_code/simple-jpeg/jidctred.o
Project2/Image Denoising/serial_code/simple-jpeg/jinclude.h
Project2/Image Denoising/serial_code/simple-jpeg/jmemmgr.c
Project2/Image Denoising/serial_code/simple-jpeg/jmemmgr.o
Project2/Image Denoising/serial_code/simple-jpeg/jmemnobs.c
Project2/Image Denoising/serial_code/simple-jpeg/jmemnobs.o
Project2/Image Denoising/serial_code/simple-jpeg/jmemsys.h
Project2/Image Denoising/serial_code/simple-jpeg/jmorecfg.h
Project2/Image Denoising/serial_code/simple-jpeg/jpegint.h
Project2/Image Denoising/serial_code/simple-jpeg/jpeglib.h
Project2/Image Denoising/serial_code/simple-jpeg/jquant1.c
Project2/Image Denoising/serial_code/simple-jpeg/jquant1.o
Project2/Image Denoising/serial_code/simple-jpeg/jquant2.c
Project2/Image Denoising/serial_code/simple-jpeg/jquant2.o
Project2/Image Denoising/serial_code/simple-jpeg/jutils.c
Project2/Image Denoising/serial_code/simple-jpeg/jutils.o
Project2/Image Denoising/serial_code/simple-jpeg/jversion.h
Project2/Image Denoising/serial_code/simple-jpeg/libsimplejpeg.a
Project2/Image Denoising/serial_code/simple-jpeg/Makefile
Project2/Image Denoising/serial_code/simple-jpeg/rdbmp.c
Project2/Image Denoising/serial_code/simple-jpeg/rdbmp.o
Project2/Image Denoising/serial_code/simple-jpeg/rdcolmap.c
Project2/Image Denoising/serial_code/simple-jpeg/rdcolmap.o
Project2/Image Denoising/serial_code/simple-jpeg/rdgif.c
Project2/Image Denoising/serial_code/simple-jpeg/rdgif.o
Project2/Image Denoising/serial_code/simple-jpeg/rdppm.c
Project2/Image Denoising/serial_code/simple-jpeg/rdppm.o
Project2/Image Denoising/serial_code/simple-jpeg/rdrle.c
Project2/Image Denoising/serial_code/simple-jpeg/rdrle.o
Project2/Image Denoising/serial_code/simple-jpeg/rdswitch.c
Project2/Image Denoising/serial_code/simple-jpeg/rdswitch.o
Project2/Image Denoising/serial_code/simple-jpeg/rdtarga.c
Project2/Image Denoising/serial_code/simple-jpeg/rdtarga.o
Project2/Image Denoising/serial_code/simple-jpeg/transupp.c
Project2/Image Denoising/serial_code/simple-jpeg/transupp.h
Project2/Image Denoising/serial_code/simple-jpeg/transupp.o
Project2/Image Denoising/serial_code/simple-jpeg/wrbmp.c
Project2/Image Denoising/serial_code/simple-jpeg/wrbmp.o
Project2/Image Denoising/serial_code/simple-jpeg/wrgif.c
Project2/Image Denoising/serial_code/simple-jpeg/wrgif.o
Project2/Image Denoising/serial_code/simple-jpeg/wrppm.c
Project2/Image Denoising/serial_code/simple-jpeg/wrppm.o
Project2/Image Denoising/serial_code/simple-jpeg/wrrle.c
Project2/Image Denoising/serial_code/simple-jpeg/wrrle.o
Project2/Image Denoising/serial_code/simple-jpeg/wrtarga.c
Project2/Image Denoising/serial_code/simple-jpeg/wrtarga.o
Project2/Image Denoising/serial_code/mona_lisa_noisy.jpeg
Project2/Image Denoising/parallel_code/mona_lisa_noisy.jpeg
Project2/Image Denoising/serial_code/mona_lisa_clean.jpeg
